@page "/brewery/bycity"
@using BreweryFinder.API.Models
@using BreweryFinder.API.Services
@attribute [StreamRendering]
@inject BreweryServiceApiClient BreweryApi
@rendermode InteractiveServer

<PageTitle>Brewery Finder</PageTitle>

<h1>Find a brewery</h1>
<div class="input-group mb-3">
    <input type="text" class="form-control" @bind="city" placeholder="Enter city" />
    <input type="text" class="form-control" @bind="state" placeholder="Enter state" />
    <input type="text" class="form-control" @bind="name" placeholder="Enter name" />
    <input type="text" class="form-control" @bind="breweryType" placeholder="Enter brewery type" />
    <input type="text" class="form-control" @bind="postalCode" placeholder="Enter postal code" />
    <button class="btn btn-primary" @onclick="SearchBreweries">Search</button>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Postal Code</th>
                            <th>Phone</th>
                            <th>Website</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (breweries != null)
                        {
                            @foreach (var brewery in breweries)
                            {
                                <tr>
                                    <td>@brewery.Name</td>
                                    <td>@brewery.Street</td>
                                    <td>@brewery.City</td>
                                    <td>@brewery.State</td>
                                    <td>@brewery.PostalCode</td>
                                    <td>@FormatPhoneNumber(brewery.Phone)</td>
                                    <td><a href="@brewery.Website">@brewery.Website</a></td>
                                    <td>@brewery.BreweryType</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    private Brewery[]? breweries;
    private string city = string.Empty;
    private string state = string.Empty;
    private string name = string.Empty;
    private string breweryType = string.Empty;
    private string postalCode = string.Empty;

    private async Task SearchBreweries()
    {
        var searchCriteria = new BrewerySearchCriteria
            {
                City = city,
                State = state,
                Name = name,
                BreweryType = breweryType,
                PostalCode = postalCode
            };

        var breweryList = await BreweryApi.GetBreweriesAsync(searchCriteria);
        breweries = breweryList.ToArray();
    }

    private string FormatPhoneNumber(string? phone)
    {
        if (string.IsNullOrEmpty(phone) || phone.Length != 10)
        {
            return phone ?? string.Empty;
        }

        return $"({phone.Substring(0, 3)}) {phone.Substring(3, 3)}-{phone.Substring(6, 4)}";
    }
}