@page "/brewery"
@using BreweryFinder.API.Models
@using BreweryFinder.API.Services
@attribute [StreamRendering]
@inject HttpClient Http


<PageTitle>Brewery Finder</PageTitle>

<h1>Find a brewery</h1>

<p>This component demonstrates showing data.</p>

@if (breweries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brewery in breweries)
            {
                <tr>
                    <td>@brewery.Name</td>
                    <td>@brewery.Street</td>
                    <td>@brewery.City</td>
                    <td>@brewery.State</td>
                    <td>@brewery.PostalCode</td>
                    <td>@brewery.Phone</td>
                    <td><a href="@brewery.Website">@brewery.Website</a></td>
                    <td>@brewery.BreweryType</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Brewery[]? breweries;
    protected override async Task OnInitializedAsync()
    {
        var city = "grand rapids";
        breweries = Http.GetFromJsonAsync<Brewery[]>($"https://api.openbrewerydb.org/v1/breweries?by_city={city}&per_page=20").Result;
    }
}